.About {
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding-left: 5rem;
    align-items: flex-start;
    color: #45567d;
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: 0.02rem;
    padding-top: 5rem;
}

.About div {
    text-align: left;
}
.About #about-title {
    padding-bottom: 1rem;
}

.About #contact {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.profile-link i {
    color: #45567d;
    text-decoration: none;
    letter-spacing: 2.5rem;
    font-size: 1.5rem;
    padding-left: 0.1rem;
}

.profile-link i:hover {
    transform: scale(1.1);
    text-decoration: none;
    transition: 0.2s;
}

@media (max-width: 600px) {
    .About {
        padding-left: 3rem;
    }
}
