.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.navbar {
  display: flex;
  position: fixed;
  width: 100vw;
  background-color: #45567d;
  justify-content: flex-end;
  height: 2.2rem;
  align-items: center;
}

.header {
  position: fixed;
  left: 1rem;
  top: 0;
  margin: 0.4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: whitesmoke;
}

.nav-text {
  font-size: 1.1rem;
  text-decoration: none;
  color: whitesmoke;
  padding: 0.5rem 1rem 0.4rem 1rem;
}

.active-nav {
  background-color: aliceblue;
  color: #45567d;
  border-radius: 10% 10% 0 0;
}
.nav-text:hover {
  /* font-weight: 600; */
  transform: scale(1.1);
}

.main {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}
